@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Nunito:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Logo and headers */

h1,h2,h3 {
    font-family: Koulen, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3a3a3a;
}

#logo {
    font-size: 500%;
    padding: 25px 0 20px;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
}

.remove-decoration {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.header-item {
    flex: 1;
}

/* navigation link */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    clear: both;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image5.jpeg) no-repeat center center;
    background-size: cover;
}

#cover-text,h3,h2 {
    color: #fff;
}

#cover-text {
    font-size: 250%;
    font-family: Koulen, sans-serif;
    letter-spacing: 3px;
    text-align: center;

    width: 500px;
    height: 200px;

    top: 150px;
    left: 250px;
    position: absolute;
}

#cover-text p {
    font-family: Nunito, sans-serif;
    text-transform: capitalize;
    font-size: 50%;
}

/*reasons why */

#welcome {
    text-align: center;
    margin: 35px 0;
    font-size: 350%;
    background-color: #3a3a3a;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#reasons-why {
    text-align: center;
}

#reasons-why p {
    font-size: 150%;
}

.reasons-header {
    color: #3a3a3a;
    font-size: 250%;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.box {
    width: 75vw;
    text-align: center;
}

.break-line {
    width: 70%;
    height: 1px;
    background-color: #3a3a3a;
    margin: 0 auto;
}

/* link to recipe page */

.link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #3a3a3a;
    font-size: 150%;
    text-decoration: underline;
    margin: 10px;

}

.link:hover {
    color: blue;
}

/* footer*/

footer {
    left: 0%;
    background-color: #3a3a3a;
    margin: 10px 10px 10px 10px;
    clear: both;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 1%;
    color: white;
}

.fa-brands:hover {
    color: blue;
}

/* recipe */ 

.meal-one-name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #3a3a3a;
    margin: 0 10px 10px 10px;
    padding: 5px;
    background-color: #3a3a3a;
}

.container-recipes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 20px;
    flex-direction: column;
}

.container-recipes h3 {
    color: #3a3a3a;
    text-decoration: underline;
}

.resize-recipe {
    height: 300px;
    width: 450px;
    max-width: 100%;
}

.align-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.meals li {
    margin: 10px;
    font-size: 100%;
    font-family: Nunito, sans-serif;
    font-weight: 800;
}

/* photo section */

#photos {
    clear: both;
    width: 100%;
}

#photo-header {
    text-align: center;
    background-color: #3a3a3a;
    color: #fff;
    margin: 0 10px 10px 10px;
}

#photo-box {
    display: flex;
    justify-content: center;
    gap: 25px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    padding: 30px;
}

#photo-box, p {
    text-align: center;
    font-size: 130%;
    text-transform: uppercase;
    font-family: Koulen, sans-serif;
}

.resize {
    width: 350px;
    height: 250px;
}

/*form*/

.form-section {
    clear: left;
    background: url(../images/pizza-image.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-bottom: 30px;
}

.signup-form {
    margin: 150px 10% 0 0;
    max-width: 400px;
    background-color: rgba(58, 58, 58, 0.6);
    color: white;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h3 {
    color: #fff;
    text-align: center;
    font-size: 90%;
    font-family: Nunito, sans-serif;
}

legend {
    margin-bottom: 20px;
    font-family: Koulen, sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
    text-align: center;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 20px;
    margin: 5px 0 20px;
    border: solid 1px #fafafa;
    border-radius: 2px;
    color: white;
}

#radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

/* enter button */

button {
    font-size: 100%;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #fafafa;
    color: #3a3a3a;
    border-radius: 5px;
}

button:hover {
    background-color: #3a3a3a;
    color: #fafafa;
}

/* screen sizes 1330px wide and down */
@media only screen and (max-width: 1330px) {
    .mobile {
        display: none;
    }

    #logo {
        margin-left: 20px;
    }
}
    
/* screen sizes 1007px wide and down */
@media only screen and (max-width: 1007px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: 1px;
    }

    #menu {
        margin-bottom: 10px;
    }

    #logo {
        line-height: 100%;
    }

    #cover-text {
        top: 100px;
        left:10px;
        width: 400px;
    }
}

/* screen sizes 640px wide and down */
@media only screen and (max-width: 640px) {
    #logo {
        font-size: 320%;
        margin: auto;
        padding-left: 5px;
        padding-right: 5px;
    }

    #cover-text {
        font-size: 200%;
        width: 250px;
        top: 50px;
        left: 15px;
    }

    .resize-recipe {
        height: 250px;
        width: 400px;
    }
}