@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Nunito:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Logo and headers */

h1,h2 {
    font-family: Koulen, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 600%;
    margin-left: 33%;
    padding: 25px 0 20px;
}

/* navigation link */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
} 

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero immage */

#hero-outer {
    height: 600px;
    width: 100%;
    clear: both;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image5.jpeg) no-repeat center center;
    background-size: cover;
}

/*reasons why */

#welcome {
    text-align: center;
    margin: 35px 0;
    font-size: 350%;
    background-color: #3a3a3a;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#reasons-why {
    height: 600px;
}

#main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.left-div {
    text-align: center;
    width: 33%;
}

.left-div p {
    text-align: center;
}

.mid-div {
    text-align: center;
    width: 33%;
}

.mid-div p {
    text-align: center;
}

.right-div {
    text-align: center;
    width: 33%;
}

.right-div p {
    text-align: center;
}

/* footer*/

footer {
    height: 100px;
    background-color: #3a3a3a;
    margin: 0 10px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 1%;
    color: white;
}
